* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  font-size: 15px;
  color: white;
}
.containermain {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
}
.indexsection {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.indexsection h1 {
  margin: 1em;
  margin-top: 30px;
  font-size: 2rem;
  color: rgb(240, 240, 240);
  font-family: "Chilanka", cursive;
  animation: showSlowly 2s ease-in;
}
.background_image {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  filter: brightness(50%);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  animation: showSlowly 0.5s ease-in;
}
@keyframes showSlowly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-800px);
  }
}
@media (max-width: 480px) {
  .containermain {
    max-height: 100vh;
    overflow-y: hidden;
  }
  .background_image {
    overflow-y: hidden;
    height: 100vh;
    width: 1300px;
    animation: leftToRight 45s linear alternate-reverse;
  }
}
