* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

h1 {
  font-size: 45px;
}
.background-image {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  filter: brightness(50%);
  object-fit: cover;
  width: 100vw;
}
@media (max-width: 480px) {
  .background-image {
    height: 100vh;
  }
}
